.App {
  /* border: 1px solid #ccc;
  border-radius: 3px;
  height: 400px;
  width: 60%;
  margin: .5em;
  font-size: 13px; */
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end ;
  align-self: center;
  justify-self: center; */
}

